bin/
obj/
.vs/
.vscode/

node_modules/
.next/
out/
dist/
build/
*.tsbuildinfo

*.user
*.suo
*.log
*.tmp

appsettings.Local.json
.env
.env.local
.env.*.local

Thumbs.db
desktop.ini

README.md
Contracts.md
/Doc/
/docs/
/database/
*.docx
